html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    background-color: lightgrey;
}

#wrapper {
    padding-left: 0;
    height: 100%;
}

#page-wrapper {
    width: 100%;
    padding: 5px 15px;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 15px 25px;
    }

  /* Side Nav */

    .side-nav {
        margin-left: -225px;
        left: 225px;
        width: 225px;
        position: fixed;
        top: 50px;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #222222;
        overflow-y: auto;
    }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #999999;
        padding: 15px 15px 15px 25px;
    }

    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
        color: #fff;
        background-color: #080808;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #080808;
    }

  /* Nav Messages */

    .messages-dropdown .dropdown-menu {
        min-width: 300px;
    }

    .messages-dropdown .dropdown-menu li a {
        white-space: normal;
    }

    .navbar-collapse {
        padding-left: 15px !important;
        padding-right: 15px !important;
    };
}

.message {
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-size: 17px;
}

.channel-name {
    /*font-size: 20px;*/
    padding-left: 15px;
}

#server-info {
    color: teal;
}

#current-nick {
    color: yellow;
}

#module-count, #connection-uptime, #bot-uptime {
    color: green;
}

#current-nick,
#default-nick,
#server-info,
#module-count,
#connection-uptime,
#bot-uptime {
    font-style: italic;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel-body {
    overflow-y: scroll;
    height: 100%;
}

#modal-timeout {
    color: red;
    font-weight: 700;
    font-size: 15px;
    margin: 20% 0 20% 0;
}

#modal-password {
    position: relative;
    top: 25%;
    /* Hacked way of removing the scrollbar.. nobody will notice the 1% */
    left: 1%;
}

#dashboard-message {
    border-radius: 10px 25px 25px 10px;
    -moz-border-radius: 10px 25px 25px 10px;
    -webkit-border-radius: 10px 25px 25px 10px;
    border: 6px solid #383838;
    background-color: #222222;
    padding: 10px;
    color: lightgrey;
}

#manage-buttons {
    border-radius: 25px 10px 10px 25px;
    -moz-border-radius: 25px 10px 10px 25px;
    -webkit-border-radius: 25px 10px 10px 25px;
    border: 6px solid #383838;
    background-color: #222222;
    padding: 5px 10px;
    padding-left: 15px;
    margin-top: -10px;
    color: lightgrey;
}

#manage-buttons .btn {
    margin-top: -5px;
}

#join-box {
    margin: 20px 20px 5px 20px;
    height: 7%;
}

#join-box .btn {
    margin-top: 5px;
}

#channel-list {
    height: 83%;
}

.modal-scrollable {
    overflow-y: scroll;
    height: 400px;
}

.module-icon {
    padding-right: 10px;
    padding-top: 2px;
}

.module-button {
    margin-bottom: 10px;
}
