<div id="wrapper">

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Code &middot; Python IRC Bot</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="navbar-text"><i class="fa fa-dashboard"></i> Currently connected to... <font color="teal"><i>{{data.config.host}}:{{data.config.port}}</i></font></li>
        <li class="navbar-text"><i class="fa fa-user"></i> Using nick: <font color="yellow"><i>{{data.nick}}</i></font> (Default <i>{{data.config.nick}}</i>)</li>
        <li class="navbar-text"><i class="fa fa-code"></i> <font color="green">{{data.len_modules}}</font> modules loaded</li>
      </ul>
      <ul class="nav navbar-nav side-nav">
        <li class="active"><a href="index.html"><i class="fa fa-slack"></i> CHANNEL LIST</a></li>
      {{#each data.chan_data}}
          <li class="navbar-text"><span class="channel-name">{{@key}} [<a href="#" onclick="part('{{@key}}');">part</a>]</span></li>
      {{/each}}
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-user">
        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
        <li><a href="/" onclick="logout();"><i class="fa fa-power-off"></i> Logout ({{data.config.owner}})</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="row">
      <div class="col-lg-12">
        <h1>Dashboard ({{data.config.host}}) <small>Statistics Overview</small></h1>
        <div class="panel panel-primary" style="height:100%">
          <div class="panel-heading">
            <span class="fa fa-comment"></span> Chat
          </div>
          <div class="panel-body">
            <ul class="chat list-group" id="chat-box">
              {{#each data.logs}}
                <li class="list-group-item">
                  <small class="pull-right text-muted"><span class="fa fa-time"></span>{{this.hrt}} ago</small>
                  <strong class="primary-font"><span class="label label-primary">{{this.channel}}</span> <span class="badge">{{this.nick}}</span></strong>
                  <span class="message">{{this.message}}</span>
              {{else}}
                <div class="alert alert-info" role="alert">No messages have been sent recieved yet!</div>
              {{/each}}
            </ul>
          </div>
          <div class="panel-footer" style="display:block;">
            <button class="btn btn-primary" data-toggle="modal" data-target=".modal-chat">Chat</button>
            <button class="btn btn-info" data-toggle="modal" data-target=".modal-join">Join channel</button>
            <button class="btn btn-warning" href="#" onclick="exec('restart');">Restart bot</button>
            <button class="btn btn-danger" href="#" onclick="exec('quit');">Shutdown bot</button>
          </div>
        </div>
      </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-lg-3">
      </div>
    </div><!-- /.row -->
  </div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->
